# Node.js dependencies
node_modules
npm-debug.log

# Git files
.git
.gitignore

# Docker files
.dockerignore
Dockerfile*

# OS / Editor junk
.DS_Store
*.swp
*.tmp

# Logs
logs
*.log

# Test / coverage
coverage
.env
